@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;1,200;1,300;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,300;0,400;0,700;1,400;1,600&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
*,

:root {
  --toastify-color-success: #6e4ae7;
  --toastify-font-family: "Plus Jakarta Sans", sans-serif;
  --toastify-color-progress-success: var(--toastify-color-success);
  --toastify-text-color-light: #6e4ae7;
  --toastify-icon-color-success: var(--toastify-color-success);
  --toastify-spinner-color: #6e4ae7;
}

::after,
::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  box-sizing: inherit;
  font-family: "Plus Jakarta Sans", sans-serif;
  background:#010A20;
  /* background-position: center; */
  /* background: linear-gradient(
    90deg,
    rgba(20, 8, 46, 1) 0%,
    rgba(20, 8, 46, 1) 100%,
    rgba(0, 212, 255, 1) 100%
  ); */
  /* background-image: url("/assets/prezent.png"); */
  /* background-repeat: no-repeat; */
  /* background-size: contain; */

  /* color: #f9f9f9; */
}

.inp {
  width: 100%;
  height: 100%;
  margin: auto;
  text-align: center;
}

.inpt {
  text-align: center;
  margin: auto;
}

.text-linear{
  background: -webkit-linear-gradient(262.71deg, #EA9119 2.72%, #833EF1 70.34%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* text-decoration-color:#B5179E; */
}

.clip-vr {
  -webkit-clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
  clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
}
